@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-color: #111827;
}
.background-tinted {
    background-color: #1f2937;
}
.background-selected {
    background-color: #374151;
}
.text, .text::placeholder {
    color: #FFF;
}
.text-tinted, .text-tinted::placeholder {
    color: #9ca3af;
}